<h1>Triangle ME!</h1>
   <form action='/answer'>
     <div class="form-group">
     <label for="side_1">Enter First Side:</label>
     <input id="side_1" name="side_1" class="form-control" type="number">
    </div>
     <div class="form-group">
     <label for="side_2">Enter Second Side:</label>
     <input id="side_2" name="side_2" class="form-control" type="number"></div>
     <div class="form-group">
     <label for="side_3">Enter Third Side:</label>
     <input id="side_3" name="side_3" class="form-control" type="number">
     </div>
     <button type="submit" class="btn btn-primary">Find!</button>